

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto mono', monospace, sans-serif;
    padding: 20px;
    background: #f1f1f1;
    margin: 50px 50px 10px 20px;
}

main {
    position:relative;
    left:12%;
}

/*style of section1 was deleted*/

.section2 {
    margin: 0px 0px 60px 20px;
}

.section3 {
    margin: 0px 0px 60px 20px;
    
}



h1{
     color:rgb(141, 10, 32);
     line-height: 42px;
}

h2 {
    color:rgb(141, 10, 32);
    line-height: 42px;

}

h3 {
    color:rgb(85, 3, 16);
    line-height: 42px;
}


h5 {
    opacity: 0.5;
}

p {
    font-family: 'Roboto mono', monospace, sans-serif;
    width: 80%; 
    text-align: justify;
    font-size: 18px;
    letter-spacing: -1px;
    line-height: 30px;
}

ul {
    position: relative;
    left: 30px;
    flex-wrap: nowrap;
    line-height: 30px;
    font-size: 20px;
}

footer{
    position:relative;
    left:12%;
}

.logo {
    color: rgba(255, 233, 237, 1);
    text-transform:uppercase; 
    letter-spacing:5px; 
    font-size: 20px;
}


nav {
    position: fixed;
    top:0;
    width:100%;
    display: flex;
    flex-wrap: wrap;    /*added after the vid*/
    z-index: 1000;      /*added too*/
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5D4954;
    font-family: 'Roboto Mono', monospace;
}


.nav-links {
    display:flex;
    justify-content: space-around;
    width: 30%;
    
}
.nav-links li{
    list-style: none;
}
.nav-links a {
    color: rgb(255, 233, 237);
    text-decoration: none;
    letter-spacing: 4px;
    font-weight: bold;
    font-size: 16px;
   }

.burger{
    display:none;
}

.burger div{
    width: 25px;
    height: 2px;
    background-color: rgb(255, 233, 237);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
   
}



@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    } 
   
    .nav-links {
        position: fixed;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #5D4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }   
    .nav-links li{
        opacity: 0;
    } 
    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
    transform: translateX(0%);
}   

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
}




/*this is the Create section*/
textarea {
    position: relative;
    top: 40px;
}

#submit {
    position: relative;
    top: 50px;
    }

.divBox{
    position: relative;
    top: 15px;
    bottom: 30px;
}


.form {
    width: 50%;
    position: relative;
    height: 50px;
}

.form input{
    width: 100%;
    height: 100%;
    padding-top: 20px;
    border: none;
}


/*this is the end of the "create" section*/

.imgGallery {
    width: 400px;
 }